<%- include ./partials/head.ejs %>

    <body class="fixed-nav sticky-footer bg-dark" id="page-top">
        <%- include ./partials/navigation.ejs %>
            <div class="content-wrapper">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">BTCEXCHANGE</a>
                        </li>
                        <li class="breadcrumb-item active">Dodawanie Transakcji</li>
                    </ol>
                    <div class="card mb-3">
                            <div class="card-body">
                                <strong>Oferta została dodana. <a href="/history">Twoje Transakcje</a></strong>
                            </div>
                    </div>
                </div>
<%- include ./partials/footer.ejs %>