<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BTCEXCHANGE</title>
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="/static/css/sb-admin.css" rel="stylesheet">
</head>